<a href="https://colab.research.google.com/github/nabssss/PY-ASSIGNMENT/blob/master/CAD_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1: EXECUTE THE FOLLOWING CODE IN PYTHON**

In [0]:
number=1+2*3/4.0 #WE USE SOME ARITHMETIC OPERATORS TO PERFOM THE OPERATION
print(number) #PRINT THE VARIABLE
remainder=11%3
print(remainder)
squared=7**2
print(squared)
cubed=2**3
print(cubed)
listRepeat=[1,2,3]*3
print(listRepeat)

2.5
2
49
8
[1, 2, 3, 1, 2, 3, 1, 2, 3]

**Q2:USER APPROPRIATE OPERATOR TO PERFORM OPERATION BETWEEN TWO STRING**

In [0]:
a=['abc']
b=['def']
print(a,b)
listRepeat=[1,2,3]*3
print(listRepeat)

['abc'] ['def']
[1, 2, 3, 1, 2, 3, 1, 2, 3]

**Q3:USER APPROPRIATE OPERATOR TO PERFORM OPERATION BETWEEN TWO LIST**

In [0]:
x=['nabieu']
y=['Bangura']
print(x+y)

['nabieu', 'Bangura']

**Q4: USER APPROPRIATE OPERATOR TO PERFORM OPERATION BETWEEN TWO TUPLE**

In [0]:
x=('nabieu','ishmeal')
y=('Bangura','kadija')
print(x+y)

('nabieu', 'ishmeal', 'Bangura', 'kadija')

**Q5: EXECUTE THE FOLLOWING EXPRESSION**

In [0]:
a=10
b=5
print(a>b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)
print(a>=b)

True
False
False
False
True
True

**Q6: TAKE TWO STRING TO CHECK IF THEY ARE EQUAL OR NOT**

In [0]:
a=input("Enter your values \n ")
b=input("Enter your second values \n")
if(a==b):
  print("They are equal \n")
else:
  print("they are not equala\n")

Enter your values
 ABC
Enter your second values
ABC
They are equal

**Q7:EXECUTE THE FOLLOWING PROGRAM**

In [0]:
x=12
y=13
print(x>y and y>10)
print(x>14 or y>14)
not(x>14 or y>14)

False
False

True