<a href="https://colab.research.google.com/github/nabssss/PY-ASSIGNMENT/blob/master/CAD_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. PRINT THE BOX LIKE THE ONE BELOW**

In [0]:
for i in range (4): # USE LOOP
  print('x'*10) #THE * WILL BE PRINTED TEN TIMES

xxxxxxxxxx
xxxxxxxxxx
xxxxxxxxxx
xxxxxxxxxx

**Q2: PRINT THE BOX LIKE THE ONE BELOW**

In [0]:
#WE PRINT THE PATTERN USING STAR * SIGN
for i in range (1): #WE USE LOOP 
    print('*'*5) #AND PRINT THE STAR ACCORDING TO THE REQUIREMENT
    print('*   *')
    print('*   *')
    print('*' * 5)

*****
*   *
*   *
*****

**Q3: PRINT TRIANGLE LIKE THE ONE BELOW, DO IT IN REVERSE ORDER PRINT IN A DIAMOND FORMAT**

In [0]:
for i in range (1):#USING A LOOP
 print('*'*1)#PRINTING ACCORDING TO THE REQUIREMENT
print('*'*2)
print('*'*3)
print('*'*4)
print('*'*5)

*
**
***
****
*****

***Q4: ASK THE USER TO INPUT NAME PHONE NUMBER AND EMAIL. ONCE THE DETAILS IS TAKEN PRINT IT IN LIST***

In [0]:
n=input("Enter your name \n") #TAKING AN INPUT FROM THE USER NAME
p=input("Enter your phone number \n")#TAKING INPUT FROM THE USER PHONENUMBER
e=input("Enter your email \n")#TAKING INPUT FROM THE USER EMAIL
user=['n','p','e']#CREATING A LIST
print(n,p,e)#PRINTING THE LIST

Enter your name
NABIEU ISHMEAL BANGURA
Enter your phone number
+917347636246
Enter your email
NABIEUI@YAHOO.COM
NABIEU ISHMEAL BANGURA +917347636246 NABIEUI@YAHOO.COM

**Q5:WRITE A CODE THAT ASK USER FOR A STRING, AND CREATE A NEW STRING THAT DOUBLES EACH CHARACTER. FOR EXAMPLE, HELLO HEELLLLOO**

In [0]:
a=input("Enter the word 'HELLO' \n") #GETTING INPUT FROM THE USER
print((a[0]*2)+(a[1]*2)+(a[2]*2)+(a[3]*2)+(a[4]*2)) #PRINTING ACCORDING TO THE INDEX VALUE

Enter the word 'HELLO'
HELLO
HHEELLLLOO

**Q6:WRITE A PROGRAM THAT ASK USER FOR THEIR NAME AND PRINT IN FUNNY PATTERN. EXAMPLE APPLE**

In [0]:
a='Apple'
print((a[0])+(a[0]+a[1])+ (a[0]+a[1]*2)+(a[0]+a[1]*2+a[3])+(a))

AApAppApplApple