<a href="https://colab.research.google.com/github/nabssss/PY-ASSIGNMENT/blob/master/HAD_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1: Execute the following code to understand the syntax of python**

In [0]:
print("This is nabieu")
print('nabieu')
print('''my name is Nabieu
          ishmeal Bangura''')
string1=['Hello world']
print(string1)
string2=["we're#1!"]
print(string2)
string3=["123"]
print(string3)
string4=['''I said,"put it over by the llama,''']
print(string4)
number=12
print(number)
float=3.14
print(float)

This is nabieu
nabieu
my name is Nabieu
          ishmeal Bangura
['Hello world']
["we're#1!"]
['123']
['I said,"put it over by the llama,']
12
3.14

**Q2: Use type() method to check the datatypes of the above created variables.**

In [0]:
user='abcd'
print(type(user))

<class 'str'>

**Q3: Execute the following**

In [0]:
movies=['Avengers','spider Man','Super Man']
movies=('Avengers','Spider Man','Super Man')
print(movies)

('Avengers', 'Spider Man', 'Super Man')